ul {
  padding-left: 26px;
}

li {

  list-style: none;
  line-height: 1.4;
  width: 50%;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: rgba(63, 150, 213, 0.05);
}


.dropdownIcon {
  margin-right: 4px;
  width: 16px;
  fill: var(--accent-color);
  padding: 4px;
  transition: background-color 0.3s ease;
}

.addIcon {
  vertical-align: middle;
  width: 24px;
  fill: var(--primary-color);
  padding: 4px;
  transition: background-color 0.3s ease;
}

.dropdownIcon:hover, .addIcon:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.hidden {
  display: none;
}

.haveSubtasks {
  cursor: pointer;
  background-size: 16px 16px;
}

.noSubtasks {
  cursor: default;
  padding-left: 24px;
}

.taskName {
  margin-right: 5px;
}

