.app.dark {
    --bg-color: #454d5d;
    --inverted-bg-color: #fafcfc;

    --primary-color: #a2bed2;
    --secondary-color: #2b5a7d;
    --accent-color: #3f96d5;
    --inveted-primary-color: #2d495d;
    --inveted-secondary-color: #82b0d4;
}
